@model NewBranchForm
@using (Html.BeginForm("NewBranchForm", "Bank", FormMethod.Post))
{
    @Html.EditorForModel()
    <button class="btn btn-primary" type="submit">Save</button>

}
<a href="@Url.Action("ShowBranchesList", "Bank")" class="btn btn-info">Back to List</a>